
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #384d2f;
}

#cadastro {
    width: 400px;

    padding: 40px;

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#cadastro h1 {
    text-align: center;
}

#cadastro input {
    padding: 10px;
}

#cadastro button {
    padding: 10px;
    cursor: pointer;
}