* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#jogo {
    width: 100vw;
    height: 100vh;

    position: relative;
    overflow: hidden;

    background-color: white;
}

#bolinha {
    width: 150px;
    height: 150px;

    position: absolute;

    left: 0px;
    top: 50%;
}

#chao {
    width: 100%;
    height: 597px;

    background-color: green;
    background-image: url("chaomineprime.png");
    background-repeat: repeat-x;
    background-size: auto 100%;

    position: absolute;
    top: 67.7%;
    left: 0;
}

#fundo {
    width: 100%;
    height: 100%;

    background-image: url("fundo1.jpeg");
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: auto 100%;

    position: absolute;
    top: 0;
    left: 0;
}